.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tickets-container {
  display: flex;
  justify-content: space-evenly;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dropdown {
  height: 70px;
  background-color: white;
  display: flex;
}
.drop-Button {
  display: flex;
  padding: 20px;
  font-size: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-block: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
